

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #44bd32;
    font-size: 60px;
    font-family: cursive;
    letter-spacing: 7px;
   


}